			<header class="header">
				<div class="container">
					<div class="navigation">
						<a href="#" class="logo">
							<h2 class="logo-title">Logotype</h2>
						</a>
						<div class="main-menu">
							<ul>
								<li><a href="#">Services</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Become an Interviewer</a></li>
								<li><a href="#">Become a Tutor</a></li>
								<li><a href="#" class="get-started">Sing In/Get Started</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>